.row{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: small;
    padding-top: 30px;

}

.formfield * {
    vertical-align: middle;
    background-color: #737373;

}