<div class="example-container mat-elevation-z8">
    <!-- <div class="example-header">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
      </div> -->


  <table mat-table #table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="stav">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Stav </th>
      <td mat-cell *matCellDef="let vehicle"> {{vehicle.stav}} </td>
    </ng-container>
    <ng-container matColumnDef="vykon">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Vykon motora </th>
      <td mat-cell *matCellDef="let vehicle"> {{vehicle['vykon motora']}} </td>
    </ng-container>
    <ng-container matColumnDef="pocet_rychlosti">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Pocet rychlosti </th>
      <td mat-cell *matCellDef="let vehicle"> {{vehicle['pocet rychlosti']}} </td>
    </ng-container>
    <ng-container matColumnDef="pocet_airbagov">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Pocet airbagov </th>
      <td mat-cell *matCellDef="let vehicle"> {{vehicle['pocet airbagov']}} </td>
    </ng-container>
    <ng-container matColumnDef="karoseria">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Karoseria </th>
      <td mat-cell *matCellDef="let vehicle"> {{vehicle.karoseria}} </td>
    </ng-container>
    <ng-container matColumnDef="pocet_dveri">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Pocet dveri </th>
      <td mat-cell *matCellDef="let vehicle"> {{vehicle['pocet dveri']}} </td>
    </ng-container>
    <ng-container matColumnDef="pocet_kilometrov">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Pocet kilometrov </th>
      <td mat-cell *matCellDef="let vehicle"> {{vehicle['pocet kilometrov']}} </td>
    </ng-container>
    <ng-container matColumnDef="rok_vyroby">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Rok vyroby </th>
      <td mat-cell *matCellDef="let vehicle"> {{vehicle['rok vyroby']}} </td>
    </ng-container>
    <ng-container matColumnDef="model">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Model </th>
      <td mat-cell *matCellDef="let vehicle"> {{vehicle.model}} </td>
    </ng-container>
    <ng-container matColumnDef="cena">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Cena </th>
      <td mat-cell *matCellDef="let vehicle"> {{vehicle.cena}} </td>
    </ng-container>
    <ng-container matColumnDef="objem_motora">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Objem motora </th>
      <td mat-cell *matCellDef="let vehicle"> {{vehicle['objem motora']}} </td>
    </ng-container>
    <ng-container matColumnDef="typ_paliva">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Typ paliva </th>
      <td mat-cell *matCellDef="let vehicle"> {{vehicle['typ paliva']}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>