<div class="example-container mat-elevation-z8">
    
  <div class="example-header">
        <mat-form-field>
          <input matInput #Filter (keyup)="fulltextFilter(Filter.value)" (input)="sendDomainRequest()" placeholder="Filter">
        </mat-form-field>
      </div>

  <mat-paginator [length]="100"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>

  <mat-table #table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">
    <ng-container matColumnDef="stav">
      <mat-header-cell *matHeaderCellDef mat-sort-header = "stav"> Stav </mat-header-cell>
      <mat-cell *matCellDef="let vehicle"> {{vehicle.stav}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="vykon">
      <mat-header-cell *matHeaderCellDef mat-sort-header = "vykon motora"> Vykon motora </mat-header-cell>
      <mat-cell *matCellDef="let vehicle"> {{vehicle['vykon motora']}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="pocet_rychlosti">
      <mat-header-cell *matHeaderCellDef mat-sort-header = "pocet rychlosti"> Pocet rychlosti </mat-header-cell>
      <mat-cell *matCellDef="let vehicle"> {{vehicle['pocet rychlosti']}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="pocet_airbagov">
      <mat-header-cell *matHeaderCellDef mat-sort-header = "pocet airbagov"> Pocet airbagov </mat-header-cell>
      <mat-cell *matCellDef="let vehicle"> {{vehicle['pocet airbagov']}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="karoseria">
      <mat-header-cell *matHeaderCellDef mat-sort-header = "karoseria"> Karoseria </mat-header-cell>
      <mat-cell *matCellDef="let vehicle"> {{vehicle.karoseria}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="pocet_dveri">
      <mat-header-cell *matHeaderCellDef mat-sort-header = "pocet dveri"> Pocet dveri </mat-header-cell>
      <mat-cell *matCellDef="let vehicle"> {{vehicle['pocet dveri']}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="pocet_kilometrov">
      <mat-header-cell *matHeaderCellDef mat-sort-header = "pocet kilometrov"> Pocet kilometrov </mat-header-cell>
      <mat-cell *matCellDef="let vehicle"> {{vehicle['pocet kilometrov']}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="rok_vyroby">
      <mat-header-cell *matHeaderCellDef mat-sort-header = "rok vyroby"> Rok vyroby </mat-header-cell>
      <mat-cell *matCellDef="let vehicle"> {{vehicle['rok vyroby']}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="model">
      <mat-header-cell *matHeaderCellDef mat-sort-header = "model"> Model </mat-header-cell>
      <mat-cell *matCellDef="let vehicle"> {{vehicle.model}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="cena">
      <mat-header-cell *matHeaderCellDef mat-sort-header = "cena"> Cena </mat-header-cell>
      <mat-cell *matCellDef="let vehicle"> {{vehicle.cena}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="objem_motora">
      <mat-header-cell *matHeaderCellDef mat-sort-header = "objem motora"> Objem motora </mat-header-cell>
      <mat-cell *matCellDef="let vehicle"> {{vehicle['objem motora']}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="typ_paliva">
      <mat-header-cell *matHeaderCellDef mat-sort-header = "typ paliva"> Typ paliva </mat-header-cell>
      <mat-cell *matCellDef="let vehicle"> {{vehicle['typ paliva']}} </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>